.user-uploaded-video--swiper {
  width: 125.4rem;
  position: relative;
  right: 5.95rem;
}
.user-uploaded-video--swiper > .swiper-wrapper {
  position: relative;
}

.insufficient-slides {
  position: relative;
  left: 0rem;
}
